_darcs/
.ghci
*.prof
*.aux
*.ps
*.hp
cabal-dev
.cabal-sandbox
cabal.sandbox.config
data
!src/Data
tracking_static
dist
log
.DS_Store
TAGS
*_flymake*
resources/static/ekg_static
tldrvideo_static/
compiler.jar
.idea
npm-debug.log
*~
